.sub-link {
    display: inline-block;
    font-size: 24px;
    padding-top: 8px;
    color: black;
    opacity: 0.7;
    margin-left: 20px;
    font-family: 'Catamaran';
    font-weight: 200;
}

.top-hamburger-menu {
    position: relative;
    width: 100%;
    height: auto;
}